name: Run Kiwi Playwright Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout your repo
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Build docker image
      - name: Build Docker image
        run: docker build -t kiwi-tests .

      # 3. Run the tests in Docker
      - name: Run tests
        run: |
          docker run kiwi-tests
